# EditorConfig ayuda a mantener estilos de código consistentes para múltiples desarrolladores
# trabajando en el mismo proyecto a través de varios editores e IDEs.
# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
