body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    /* background-color: #f4f4f4; */ /* Comentado para impresión limpia */
    color: #333;
    font-size: 10pt;
}

.contenedor {
    width: 100%;
    /* padding: 20px; */ /* Ajustar padding para impresión */
    /* border: 1px solid #ccc; */ /* Borde opcional para desarrollo */
    /* border-radius: 5px; */
    background: #fff;
    margin: 0 auto;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los items al inicio */
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.empresa-info {
    font-size: 9pt;
    flex: 2; /* Más espacio para la info de la empresa */
}

.empresa-info strong {
    font-size: 11pt;
    font-weight: bold;
}

.ruc-box {
    text-align: center;
    border: 1px solid #000;
    padding: 5px;
    font-weight: bold;
    /* color: #00a65a; */
    border-radius: 5px;
    background: #fff;
    flex: 1; /* Menos espacio, pero suficiente para el RUC y Nro Factura */
    margin-left: 20px; /* Espacio entre info empresa y ruc box */
}

.ruc-box .orden {
    /* color: black; */
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.tabla-productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 9pt;
}

.tabla-productos th, .tabla-productos td {
    border: 1px solid #666; /* Bordes más suaves */
    padding: 6px;
    text-align: left;
}

.tabla-productos th {
    background-color: #e9e9e9;
    text-align: center;
    font-weight: bold;
}

.tabla-productos td:nth-child(2), /* Cantidad */
.tabla-productos td:nth-child(5), /* Precio */
.tabla-productos td:nth-child(6) { /* Importe */
    text-align: right;
}
.tabla-productos td:first-child { /* Código */
    text-align: center;
}


.seccion {
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 1px solid #eee; */ /* Borde opcional */
    padding: 10px;
    border-radius: 5px;
    /* background: #f9f9f9; */
    font-size: 9pt;
    line-height: 1.4;
}

.totales {
    margin-top: 20px;
    font-size: 10pt;
    text-align: right;
    font-weight: bold;
    /* background: #e6e6e6; */
    padding: 10px;
    border-top: 1px solid #000;
    /* border-radius: 5px; */
}

.destacado {
    font-weight: bold;
    font-size: 11pt;
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 8pt;
    /* background: #ddd; */
    padding: 10px;
    border-top: 1px solid #ccc;
    /* border-radius: 5px; */
    color: #555;
}

/* Evitar saltos de página inoportunos */
.tabla-productos, .seccion, .totales {
    page-break-inside: avoid;
}
